<h1 class="titulo">Lider: {{lider.nomeLider}} ({{lider.problemas.length}})</h1>
<div class="clearfix">
 <input ng-model="tempoUpdateView" class="inputTempo">
</div>
<div class="ticket-displayview" ng-controller="ViewPortCtrl">
	<div class="ticket-conteiner">
		<div ng-repeat="problema in lider.problemas" class="ticket"
			style="background-color: {{ problema.corProblema }}">
			<h3>{{problema.identificadorProblema}}</h3>
			<p>{{problema.codigoCliente}} - {{problema.nomeCliente}}</p>
			<p>{{problema.descricaoProblema}}</p>
		</div>
	</div>
</div>