
<h1>Lider: {{lider.nomeLider}} ({{lider.problemas.length}})</h1>
</br>


<div class="ticket-displayview">
	<div class="ticket-conteiner">
		<div ng-repeat="problema in lider.problemas" class="ticket"
			style="background-color: {{ problema.corProblema }}">
			<h3>{{problema.identificadorProblema}}</h3>
			<p>{{problema.codigoCliente}} - {{problema.nomeCliente}}</p>
			<p>{{problema.descricaoProblema}}</p>
		</div>
	</div>
</div>



<!-- <div ng-repeat="linha in linhas" class="linhaTicket row"> -->
<!-- 	<div ng-repeat="problema in linha" class="span3 ticket" -->
<!-- 		style="background-color: {{problema.corProblema}}"> -->
<!-- 		<h2>{{problema.identificadorProblema}}</h2> -->
<!-- 		<p>{{problema.codigoCliente}} -	{{problema.nomeCliente}}</p>  -->
<!-- 		<p>{{problema.descricaoProblema}}</p> -->
<!-- 	</div> -->
<!-- </div> -->